- if current_user
  .well
    %h1 Meine Vereine
    %table.table.table-striped#own_clubs
      = render current_user.verified_clubs

  %br
  .well
    %h2 unbestätigte Anmeldungen
    %table.table.table-striped#pending
      - current_user.unverified_clubs.each do |club|
        %tr
          %td=club.name


  %br
  .well
    %h1 Alle Vereine
    %table.table.table-striped#all_clubs
      - @clubs.reject{|x| current_user.clubs.include?(x) if current_user.clubs}.each do |club|
        %tr
          %td
            =link_to "#{club.name} hinzufügen", add_club_path(club_id: club.id, user_id: current_user.id)

  %br/
  = link_to 'Neuen Verein hinzufügen', new_club_path, class: "btn btn-primary"
- else
  .well
    %h1 Alle Vereine
    %ul
      -@clubs.map{|x| x.to_s}.each do |club|
        %li=club