<h1>Meine Vereine</h1>
<table class="table table-striped">
  <%= render current_user.unverified_clubs %>
</table>

<h2>unbestätigte Anmeldungen</h2>

<p><%= current_user.unverified_clubs.collect{|x| x.to_s }.join(", ") %></p>

<h1>Alle Vereine</h1>
<table class="table table-striped">
  <%= render @clubs.reject{|x| current_user.clubs.include?(x) if current_user.clubs} %>
</table>

<br />

<%= link_to 'Verein hinzufügen', new_club_path, class: "btn btn-primary" %>
