%h4 Aktuelle Anfragen
%hr
%ul
  - @unverified_couples.each do |couple|
    - className = couple.trainer?(club_id) ? 'trainer' : 'couple'
    %li{:class => className}
      = couple.to_s
      = link_to "", verify_couple_path(club_id: @active_club, couple_id: couple.id), :class => "icon-ok"
      = link_to "",delete_couple_path(club_id: @active_club, couple_id: couple.id), :class => "icon-remove"

- content_for :assets do
  :javascript
    $(".trainer").tooltip({
      animation: true,
      title: 'Trainer'
    });
    $(".couple").tooltip({
      animation: true,
      title: 'Paar'
    });