#add_tournament_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Neues Turnier hinzufügen
  .modal-body
    .well
      = ga_button_link_to('zukünftiges Turnier', '#add_future_tournament_modal', {toggle: 'modal', dismiss: 'modal'}, 'Tournaments', 'Future', 'btn btn-block')

      = ga_button_link_to('vergangenes Turnier', '#add_past_tournament_modal', {toggle: 'modal', dismiss: 'modal'}, 'Tournaments', 'Past', 'btn btn-block')

  .modal-footer
    %a.btn{:href => "#", "data-dismiss" => "modal"} Schließen



#add_future_tournament_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 zukünftiges Turnier hinzufügen
  .modal-body
    = render 'tournaments/future_form'
  .modal-footer
    %a.btn{:href => "#", "data-dismiss" => "modal"} Schließen


#add_past_tournament_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 vergangenes Turnier hinzufügen
  .modal-body
    = render 'tournaments/past_form'
  .modal-footer
    %a.btn{:href => "#", "data-dismiss" => "modal"} Schließen