#cancel_tournament_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Turnier absagen
  .modal-body.row-fluid.btn-group
    .well.span11
      %h4 TODO: FILL
  .modal-footer
    %a.btn{:href => "#"} Schließen