#change_progress_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Bitte wählen
  .modal-body
    = link_to 'Latein', '#change_latin_progress_modal', role: 'button', data: {toggle: 'modal', dismiss: 'modal'}, :class => "btn"
    = link_to 'Standard', '#change_standard_progress_modal', role: 'button', data: {toggle: 'modal', dismiss: 'modal'}, :class => "btn"
  .modal-footer
    %a.btn{:href => "#"} Schließen



#change_latin_progress_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Latein
  .modal-body
    = render 'shared/progresses/latin'
  .modal-footer
    %a.btn{:href => "#"} Schließen


#change_latin_progress_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Standard
  .modal-body
  .modal-footer
    %a.btn{:href => "#"} Schließen