#print_planning_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Bitte wähle einen Zeitraum
  .modal-body
    = form_tag print_planning_path(couple_id: couple.id), :html => {:class => 'form-horizontal'} do
      .control-group
        .controls
          %label.radio.inline
            %input#tournamentType{:checked => "", :name => "tournament_type", :type => "radio", :value => "standard"}/
            Standard
          %label.radio.inline
            %input#tournamentType{:name => "tournament_type", :type => "radio", :value => "latein"}/
            Latein


      //TODO: Add Ziele, Trainingsmaßnahmen, Trainingszeitraum, Grad der Zielerreichung
      //TODO: Add year selection

      = submit_tag "Drucken", :class => "btn btn-primary"

:javascript
  $('[data-behaviour~=datepicker]').datepicker({
      format: 'dd.mm.yyyy'
  });