#print_tournaments_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Bitte wähle einen Zeitraum
  .modal-body
    = form_tag print_tournaments_path(club_id: activeClub.id), :html => {:class => 'form-horizontal'} do

      .control-group
        %label.control-label Von
        .controls
          %input{"data-behaviour" => "datepicker", :type => "text", :name => "from", :value => Date.today.strftime("%d.%m.%Y")}

      .control-group
        %label.control-label Bis
        .controls
          %input{"data-behaviour" => "datepicker", :type => "text", :name => "to", :value => Date.today.strftime("%d.%m.%Y")}

      .control-group
        %label.control-label Nur von Paar (optional)
        .controls
          %input{data: {provide: 'typeahead', source: getUserNamesAndPlaceholder}, autocomplete: "off"}

      .control-group
        %label.control-label Nur von
        .controls
          .btn.kind-changer{data: {kind: 'standard'}}
            Standard
          .btn.kind-changer{data: {kind: 'latin'}}
            Latein
          .btn.btn-primary.kind-changer{data: {kind: ''}}
            Alle
          %input#kind{name: "kind", type: "hidden"}

      = submit_tag "Drucken", :class => "btn btn-primary"

:javascript
  $('[data-behaviour~=datepicker]').datepicker({
      format: 'dd.mm.yyyy'
  });

  $('.kind-changer').on('click', function (){
    $('.kind-changer').removeClass('btn-primary');
    $(this).addClass('btn-primary');
    $('#kind').value($(this).data('kind'));
  })