#print_tournaments_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Bitte wähle einen Zeitraum
  .modal-body
    = form_tag print_tournaments_path(club_id: activeClub.id), :html => {:class => 'form-horizontal'} do
      .control-group
        .controls
          %label.radio.inline
            %input#tournamentType{:checked => "", :name => "tournament_type", :type => "radio", :value => "upcoming"}/
            zukünftige Turniere
          %label.radio.inline
            %input#tournamentType{:name => "tournament_type", :type => "radio", :value => "danced"}/
            getanzte Turniere

      .control-group
        %label.control-label Von
        .controls
          %input{"data-behaviour" => "datepicker", :type => "text", :name => "from", :value => Date.today.strftime("%d.%m.%Y")}

      .control-group
        %label.control-label Bis
        .controls
          %input{"data-behaviour" => "datepicker", :type => "text", :name => "to", :value => Date.today.strftime("%d.%m.%Y")}
      = submit_tag "Drucken", :class => "btn btn-primary"

:javascript
  $('[data-behaviour~=datepicker]').datepicker({
      format: 'dd.mm.yyyy'
  });