#print_tournaments_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Wähle aus was du drucken möchtest
  .modal-body
    %img{:src => "http://placehold.it/350x150"}
