<h2>Ein Turnier wurde abgesagt</h2>
<p>
  Hallo <%= @username %>, <br>
  Das Turnier Nummer <b><%= @number %></b> wurde leider abgesagt und wir haben es bereits für dich gelöscht. <br>
  Viele Grüße, <br>
  Deine Turnier App
</p>