Sehr geehrter Sportwart des <%=@club.name.capitalize%>,
<br />
Es gibt einige Paare zu melden => <a href="http://dance-competitions.herokuapp.com<%= url_for(@club)%>"> TurnierApp</a>
<br />
Viele Grüße,<br/>
Deine TurnierApp