<h1>Links zu den Turnieren aller Tänzer:</h1>
<h2>Tänzer</h2>
<br />
<ul>
<% @users.each do |user| %>
  <li><%= link_to("zu #{user.name}" , user_tournaments_path(user)) %></li>
<% end %>
</ul>

<h2>Auflistung aller Turniere</h2>

<table class="tournament-list">
  <tr>
    <th>Turniernummer</th>
    <th>Paar</th>
    <th>Platz</th>
    <th>Adresse</th>
    <th>Datum</th>
    <th>Zeit</th>
    <th>Art</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @tournaments %>
</table>

<br />
<% if current_user == @user %>
  <%= link_to 'Neues Turnier hinzufügen', new_tournament_path %>
<% end %>
