<h1>Alle Turniere von <%= @user.name %> anzeigen</h1>

<h4>Statistiken:</h4>
<%= raw(print_stats @tournaments) %>

<table class="tournament-list table table-striped">
  <tr>
    <th>Paar</th>
    <th>Datum</th>
    <th>Zeit</th>
    <th>Art</th>
    <th>Platz</th>
    <th>Adresse</th>
    <th>Turniernr.</th>
    <th></th>
    <th></th>
  </tr>
  <%= render @tournaments %>
</table>

<br />
<% if current_user == @user %>
  <%= link_to 'Neues Turnier hinzufügen', new_tournament_path %>
<% end %>
