<p id="notice"><%= notice %></p>

<table class="tournament-list">
  <tr>
    <th>Turniernummer</th>
    <th>Paar</th>
    <th>Platz</th>
    <th>Adresse</th>
    <th>Datum</th>
    <th>Zeit</th>
    <th>Art</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @tournament %>
</table>

<% if current_user == @user %>
  <%= link_to 'Bearbeiten', edit_tournament_path(@tournament) %> |
<% end %>
<%= link_to 'Zurück', tournaments_path %>
