<p id="notice"><%= notice %></p>

<table class="tournament-list">
  <tr>
    <th>Turniernummer</th>
    <th>Paar</th>
    <th>Platz</th>
    <th>Adresse</th>
    <th>Datum</th>
    <th>Zeit</th>
    <th>Art</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @tournament %>
</table>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
