= render 'shared/modals/print_tournaments_modal', activeClub: activeClub
= render 'shared/modals/change_owner_modal', verifiedUsers: verifiedUsers, activeClub: activeClub
= render 'shared/modals/cancel_tournament_modal', activeClub: activeClub