= render 'shared/modals/print_tournaments_modal', active_club: active_club
= render 'shared/modals/change_owner_modal', verifiedUsers: verifiedUsers, active_club: active_club
= render 'shared/modals/cancel_tournament_modal', active_club: active_club