:coffeescript
  document.addEventListener( "DOMContentLoaded", () ->
    paths = #{paths}
    numberOfCalls = 0
    calls = for path in paths
      $.ajax(
        url: path
        beforeSend: () =>
          $("[data-effeckt-page]").addClass("active")
        success: (data) =>
          page = $(data).find("[data-effeckt-page]")
          page.insertAfter($("[data-effeckt-page]").last())

        error: (data) ->
          console.log("Failed to load content, result was:")
          console.log(data)
        complete: () ->
          $("[data-effeckt-page]:not(.active)").addClass("hidden")
          numberOfCalls++
          if numberOfCalls == #{paths.length}
            $("[data-effeckt-transition-page]").click( (e) ->
              e.preventDefault()
              navToPage = $(this).data("effecktTransitionPage")
              $("[data-effeckt-page].active").addClass("hidden").removeClass("active")
              $("[data-effeckt-page='" + navToPage + "']").addClass("active").removeClass("hidden")
            )
      )

    exchangeLinks = (callback, path) ->
      callback.done((data) ->
        pageName = $(data).find("[data-effeckt-page]").attr("data-effeckt-page")
        links = $("a[href='" + path+ "']")

        console.log("PageName: " + pageName)

        for link in links
          $(link).attr("data-effeckt-transition-page", pageName)
          link.href = ""
      )
    exchangeLinks(calls[i], paths[i]) for i in #{(0..paths.length).to_a}
  )