:coffeescript
  TA = window.TA ||= {}
  document.addEventListener( "DOMContentLoaded", () ->
    paths = #{paths}
    numberOfCalls = 0
    activeClass = "page-active"
    inactiveClass = "page-hidden"
    calls = for path in paths
      $.ajax(
        url: path
        success: (data) =>
          page = $(data).find(".page:first")
          page.insertAfter($(".page").last())

        error: (data) ->
          console.log("Failed to load content, result was:")
          console.log(data)

        complete: () ->
          numberOfCalls++
          TA.graphs()

          if numberOfCalls == #{paths.length}
            # TODO: Exchage links
            console.log('I has ready')
      )

    exchangeLinks = (callback, path) ->
      callback.done((data) ->
        pageName = $(data).find("[data-effeckt-page]").attr("data-effeckt-page")
        links = $("a[href='" + path+ "']")

        console.log("PageName: " + pageName)

        for link in links
          $(link).attr("data-effeckt-transition-page", pageName)
          link.href = ""
      )
    #exchangeLinks(calls[i], paths[i]) for i in #{(0..paths.length).to_a}
  )