.btn-toolbar
  .btn-group
    .btn
      = link_to 'Turnier hinzufügen', '#add_tournament_modal', role: 'button', data: {toggle: 'modal'}

  .btn-group
    .btn
      = link_to 'Punkte / Platzierungen / Startklasse ändern', '#change_progress_modal', role: 'button', data: {toggle: 'modal'}

  .btn-group
    .btn
      = link_to 'Tanzpartner wechseln', '#change_partner_modal', role: 'button', data: {toggle: 'modal'}

  .btn-group
    .btn
      = link_to 'Ergebnisse anschauen', '#view_results_modal', role: 'button', data: {toggle: 'modal'}
