- length = (!@has_couple && !@has_a_club) ? 6 : 12

.row-fluid
  - unless @has_couple
    %div{:class => "span#{length}"}
      .alert.alert-error.fade.in
        Du gehörst noch zu keinem Paar, ändere das #{link_to 'hier', '#new_pair_modal', role: 'button', data: {toggle: 'modal'}}
        %button.close{"data-dismiss" => "alert", :type => "button"} ×

  - unless @has_a_club
    %div{:class => "span#{length}"}
      .alert.alert-error.fade.in
        Du hast noch keinen Verein, wähle ihn #{link_to 'hier', '#add_club_modal', role: 'button', data: {toggle: 'modal'}}
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
