.row-fluid
  .span4
    .service.clearfix
      %i.icon-resize-small
      .desc
        %h4
          Hallo Welt
        %p
          Vielen Dank!

  .span4
    .service.clearfix
      %i.icon-resize-small
      .desc
        %h4
          Hallo Welt
        %p
          Vielen Dank!


  .span4
    .service.clearfix
      %i.icon-resize-small
      .desc
        %h4
          Hallo Welt
        %p
          Vielen Dank!