= render "slider"
.row-fluid.purchase.margin-bottom-30
  .container
    .span12
      %h1 TurnierApp | Deine Turniere auf einem Blick
    .span9
      %p
        Lorem ipsum ad qui amet dolore, vitae cetero quaerendum mel ea. Facilis fastidii duo no. Viris partiendo ius no, alia animal nam at. Feugait imperdiet ius an, no quis facer lucilius vis. Aliquam saperet contentiones ex pro, id idque offendit ius. Fugit suavitate ad eam, ut essent debitis cum. Cu duo iudico instructior. Sea te choro perfecto, per eu meis nonumy percipit. Ut mea sint constituam, cu pro impedit constituam.

.container
  .row-fluid
    .span4
      .service.clearfix
        %i.icon-euro.no-bootstrap-icon
        .desc
          %h4 Kostenlos
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...
    .span4
      .service.clearfix
        %i.icon-refresh.no-bootstrap-icon
        .desc
          %h4 Von Tänzer für Tänzer
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...
    .span4
      .service.clearfix
        %i.icon-envelope.no-bootstrap-icon
        .desc
          %h4 E-Mail benachrichtigungen
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...

:javascript
  jQuery(document).ready(function() {
      // Init Parallax Slider
      $(function() {
        $('#da-slider').cslider();
      });
  });