.row-fluid
  .span8.offset2
    %h1 TurnierApp
    .lead
      Deine Turniere auf einem Blick

    = render "slider"

:javascript
  jQuery(document).ready(function() {
      App.init();
      App.initSliders();
      Index.initParallaxSlider();
  });