= render "slider"
.row-fluid.purchase.margin-bottom-30
  .container
    .span12
      %h1 TurnierApp | Deine Turniere auf einem Blick
    .span9
      %p
        Niemand weiß, dass du letzte Woche ein Turnier getanzt hast?
        %br
        Du bist dir jedes mal unsicher, ob du für dein Turnier gemeldet wurdest?
        %br
        Du möchtest wissen wie sich die Leistungen deiner Paare entwickeln?
        %br
        %br
        Dann braucht dein Verein die TurnierApp.

.content-boxes
  .row-fluid
    .span4
      .service.clearfix
        %i.icon-euro.no-bootstrap-icon
        .desc
          %h4 Kostenlos
          %p Die TurnierApp wird immer frei benutzbar sein. Es ist nicht unser Ziel damit Geld zu verdienen, sondern ein Problem im Tanzsport zu lösen.
    .span4
      .service.clearfix
        %i.icon-refresh.no-bootstrap-icon
        .desc
          %h4 Von Tänzer für Tänzer
          %p Wir wissen genau welche Probleme sich rund um den Turniersport ergeben und stimmen die TurnierApp darauf ab.
    .span4
      .service.clearfix
        %i.icon-envelope.no-bootstrap-icon
        .desc
          %h4 E-Mail benachrichtigungen
          %p Dein Verein bekommt eine E-Mail, wenn
          %ul
            %li du dich erst eine Woche vorher zum Turnier meldest.
            %li jede Woche mit den aktuellen Ergebnissen und neuen Meldungen.
            %li jeden Monat mit den getanzten Turnieren letzten Monats und die bevorstehenden diesen Monat

:javascript
  jQuery(document).ready(function() {
      // Init Parallax Slider
      $(function() {
        $('#da-slider').cslider();
      });
  });