= render "slider"
- launched = false
.row-fluid.purchase.margin-bottom-30
  .container
    .span12
      %h1 TurnierApp | Deine Turniere auf einem Blick
    .span9
      %p
        - unless launched
          %b
            Coming Soon...
        - else
          Niemand weiß, dass du letzte Woche ein Turnier getanzt hast?
          %br
          Du bist dir jedes mal unsicher, ob du für dein Turnier gemeldet wurdest?
          %br
          Du möchtest wissen wie sich die Leistungen deiner Paare entwickeln?
          %br
          %br
          Dann braucht dein Verein die TurnierApp.
- if launched
  .content-boxes
    .row-fluid
      .span4
        .service.clearfix
          %i.icon-euro.no-bootstrap-icon
          .desc
            %h4 Kostenlos
            %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...
      .span4
        .service.clearfix
          %i.icon-refresh.no-bootstrap-icon
          .desc
            %h4 Von Tänzer für Tänzer
            %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...
      .span4
        .service.clearfix
          %i.icon-envelope.no-bootstrap-icon
          .desc
            %h4 E-Mail benachrichtigungen
            %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...

:javascript
  jQuery(document).ready(function() {
      // Init Parallax Slider
      $(function() {
        $('#da-slider').cslider();
      });
  });