- unless active_couple.nil?
  .module.semisize.medium-fullsize
    = render 'shared/misc/progress_plate', caption: "Latein", points: active_couple.latin.pointsInPercentage, placings: active_couple.latin.placingsInPercentage, start_class: active_couple.latin.start_class

  .module.semisize.medium-fullsize
    = render 'shared/misc/progress_plate', caption: "Standard", points: active_couple.standard.pointsInPercentage, placings: active_couple.standard.placingsInPercentage, start_class: active_couple.standard.start_class