- active_couple = current_user.activeCouple
- unless active_couple.nil?
  = render 'shared/misc/progress_plate', caption: "Latein", points: active_couple.latin.points_in_percentage, placings: active_couple.latin.placings_in_percentage, start_class: active_couple.latin.start_class

  = render 'shared/misc/progress_plate', caption: "Standard", points: active_couple.standard.points_in_percentage, placings: active_couple.standard.placings_in_percentage, start_class: active_couple.latin.start_class