.slider-inner
  #da-slider.da-slider{:style => "background-position: 400% 0%;"}
    .da-slide.da-slide-toleft
      %h2
        %i CLEAN & FRESH
        %br/
        %i FULLY RESPONSIVE
        %br/
        %i DESIGN
      %p
        %i Lorem ipsum dolor amet
        %br/
        %i tempor incididunt ut
        %br/
        %i veniam omnis
      .da-img
        %img{:alt => "", :src => "http://placehold.it/700x350"}/
    .da-slide.da-slide-toleft
      %h2
        %i RESPONSIVE VIDEO
        %br/
        %i SUPPORT AND
        %br/
        %i MANY MORE
      %p
        %i Lorem ipsum dolor amet
        %br/
        %i tempor incididunt ut
      .da-img.span6
        .span6
          %img{:alt => "", :src => "http://placehold.it/700x350"}/
    .da-slide.da-slide-fromright.da-slide-current
      %h2
        %i USING BEST WEB
        %br/
        %i SOLUTIONS WITH
        %br/
        %i HTML5/CSS3
      %p
        %i Lorem ipsum dolor amet
        %br/
        %i tempor incididunt ut
        %br/
        %i veniam omnis
      .da-img
        %img{:alt => "", :src => "http://placehold.it/700x350"}/
    %nav.da-arrows
      %span.da-arrows-prev
      %span.da-arrows-next
    %nav.da-dots
      %span
      %span
      %span.da-dots-current
  / /da-slider