.slider-inner
  #da-slider.da-slider
    .da-slide
      .slide-inner
        .left-half
          %h2
            %i für Tänzer
          %p
            %i Alles in einem: Deine  Turniermeldungen und Ergebnisse
            %br/
            %br/
            %i Sieh auf einem Blick für welches Turnier Du gemeldet bist und für welches nicht

        .right-half.da-img.full-height-img
          =image_tag('slider/screenshots/paare.png')

    .da-slide
      .slide-inner
        .left-half
          %h2
            %i für Vereine
          %p
            %i Euer Verein im Überblick:
            %br/
            %i Alle Paare, Turniere und Ergebnisse auf einem Blick

        .right-half.da-img.full-height-img
          =image_tag('slider/screenshots/vereine.png')


    .da-slide
      .slide-inner
        .left-half
          %h2
            %i für Trainer
          %p
            %i Behalte die Aktivitäten  und Erfolge
            %br/
            %i deiner Paare im Blick.
        .right-half.da-img.full-height-img.wider-img
          =image_tag('slider/screenshots/trainer.png')

    %nav.da-arrows
      %span.da-arrows-prev
      %span.da-arrows-next