- progressOverTimeData = getProgressOverTimeData(active_couple)

- unless progressOverTimeData.empty?
  #progress-over-time{style: "height: 250px"}
- else
  %img#line-placeholder{src: "http://www.placehold.it/500x250&text=Tanze+Turniere+für+einen+Verlauf"}

#latin-standard-balance-tournaments.bar-graph{style: "height: 250px; width: 33%;"}
#latin-standard-balance-points.bar-graph{style: "height: 250px; width: 33%;"}
#latin-standard-balance-placings.bar-graph{style: "height: 250px; width: 33%;"}

%script
  var TA = window.TA || (window.TA = {});
  TA.graphsCalled = false;
  TA.graphs = function(){
  var TA = window.TA || (window.TA = {});
  if (TA.graphsCalled){return ;}
  TA.graphsCalled = true;
  = printGraph('line', 'progress-over-time', progressOverTimeData, {latin_po: "Punkte in Latein", latin_pl: "Platzierungen in Latein", standard_po: "Punkte in Standard", standard_pl: "Platzierungen in Standard"} ) unless progressOverTimeData.empty?
  = printGraph('bar', 'latin-standard-balance-tournaments', getTournamentsData(active_couple), {l: "Latein", s: "Standard"} )
  = printGraph('bar', 'latin-standard-balance-placings', getPlacingsData(active_couple), {l: "Latein", s: "Standard"} )
  = printGraph('bar', 'latin-standard-balance-points', getPointsData(active_couple), {l: "Latein", s: "Standard"} )
  };
  document.addEventListener( 'DOMContentLoaded', function(){TA.graphs();});