%script{:src => "//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"}
%script{:src => "http://cdn.oesmith.co.uk/morris-0.4.1.min.js"}

#progress-over-time{style: "height: 500px"}
#latin-standard-balance{style: "height: 250px"}

%input#progress-over-time-data{:type => "hidden", :value => "#{getProgressOverTimeData(current_user.activeCouple)}"}

:coffeescript
  progress_over_time_data = $("#progress-over-time-data").val()
  Morris.Line
    element: "progress-over-time"
    data: progress_over_time_data
    xkey: "y"
    ykeys: ["po", "pl"]
    labels: ["Punkte", "Platzierungen"]

:coffeescript
  Morris.Bar
    element: "latin-standard-balance"
    data: [
      y: "Turniere"
      a: 100
      b: 90
    ,
      y: "Punkte"
      a: 75
      b: 65
    ,
      y: "Platzierungen"
      a: 50
      b: 40
    ]
    xkey: "y"
    ykeys: ["a", "b"]
    labels: ["Latein", "Standard"]