<div class="row-fluid">
  <div class="span4 offset2">
    <h2>TurnierApp? Was soll das?</h2>
    <p>
      Diese App wurde gebaut um Turniertänzern und Vereinen zu helfen den Überblick über bereits getanzten Turniere und die Erfolge über des Jahr übersichtlich darzustellen. Im Falle von Fehlern oder Wünschen, melde dich bitte bei <%= mail_to "daniel.maximilian@gmx.net", "mir", :subject => "Fehler/Anmerkungen bei der TurnierApp" %>.
    </p>
  </div>
  <div class="span4 offset2">
    <h2>Benutzung</h2>
    <p>
      Ein Account wird pro Paar angelegt, der Name sollte am besten beide Partner beinhalten. Zudem sollte ein Verein hinzugefügt werden (auf der 'bearbeiten' Seite), dazu ist die App schließlich da. Unter Turnier hinzufügen kann ein Turnierergebnis hinzufügen, dazu muss natürlich die korrekte Turniernummer angegeben werden. Viel Spaß mit der App!
    </p>
  </div>
  <div class="span4 offset2">
    <h2>Datenschutz</h2>
    <p>
      Alle Daten die du hier online stellen sind für jeden angemeldeten Nutzer einsehbar, nicht nur für dich.
    </p>
  </div>
</div>