<div class="row-fluid">
  <div class="span3">
    <h2>Benutzung</h2>
    <p>
      Pro Paar wird ein Account angelegt, der Name sollte am besten beide Partner beinhalten. Zudem sollte ein Verein hinzugefügt werden (auf der 'bearbeiten' Seite), dazu ist die App schließlich da. Unter 'Turnier hinzufügen' kann man ein Turnierergebnis hinzufügen, dazu muss natürlich die korrekte Turniernummer angegeben werden. Viel Spaß mit der App!
    </p>
  </div>
  <div class="span3 offset1">
    <h2>TurnierApp? Was soll das?</h2>
    <p>
      Diese App wurde gebaut um Turniertänzern und Vereinen dabei zu helfen, den Überblick über bereits getanzte Turniere und die Erfolge über das Jahr übersichtlich darzustellen. Im Falle von Fehlern oder Wünschen melde dich bitte bei <u><%= mail_to "daniel.maximilian@gmx.net", "mir", :subject => "Fehler/Anmerkungen bei der TurnierApp" %></u>.
    </p>
  </div>
  <div class="span3 offset1">
    <h2>Datenschutz</h2>
    <p>
      Alle Daten, die du hier online stellst, sind für jeden einsehbar, nicht nur für dich. Passwörter und ähnliches werden verschlüsselt abgespeichert.
    </p>
  </div>
</div>
<div class="row-fluid">
    <div class="span3 ">
    <h2>Informationen für Sportwarte</h2>
    <p>Ihr seid Sportwart eines Vereins, wenn ihr diesen als Erster erstellt. Falls jemand schon vor euch euren Verein erstellt hat, sprecht ihn bitte an, er kann in der Ansicht des Vereins einen neuen Sportwart unter den Vereinsmitgliedern auswählen. <br />
      Als Sportwart habt ihr die Option (auf der Unterseite eures Vereins) einzelne Turniere als gemeldet zu markieren, dies wird den Paaren dann auch so angezeigt. <br />
      Ihr bekommt zudem eine E-Mail circa eine Woche vor Turnierbeginn, falls für das entsprechende Wochenende noch ungemeldete Turniere eingetragen sind, so vergesst ihr auf keinen Fall Meldungen rechtzeitig rauszuschicken.</p>
  </div>
  <div class="span3 offset1">
    <h2>Informationen für Tänzer</h2>
    <p>Als Tänzer sollt ihr natürlich primär eure bisher getanzten Turniere hier pflegen, ihr könnt allerdings auch zukünftige Turniere eintragen. Diese werden euch angezeigt und euer Sportwart kann euch als gemeldet markieren, falls ihr gemeldet wurdet. Hierzu ist es nötig, dass ihr Teilnehmer und Platz frei lasst, schließlich muss man davon ausgehen, dass eure hellseherischen Fähigkeiten eher beschränkt sind. Falls ihr mal vergesst für ein schon getanztes Turnier die Ergebnisse nachzutragen wird dieses mit einem X markiert.</p>
  </div>
  <div class="span3 offset1">
    <h2>generelle Informationen</h2>
    <p><b>Legende:</b> <br />
      <%= image_tag("ok.png")%> <= Ihr seid gemeldet für dieses Turnier. <br />
      <%= image_tag("not_enrolled.png")%> <= Ihr seid noch nicht gemeldet für dieses Turnier. <br />
      <%= image_tag("missing_information.png")%> <= Ihr habt vergessen euer Ergebnis nachzutragen. <br />
      <br />
      <b>Mehrere Vereine</b>
      Es können mehrere Vereine ausgewählt werden, damit beispielsweise auch Statistiken über Standard oder Lateinkader gepflegt und angezeigt werden können.
    </p>
  </div>
</div>