<div class="row-fluid">
  <div class="span4 offset2">
    <h2>TurnierApp? Hä?</h2>
    <p>
      Diese App wurde gebaut um Turniertänzern und Vereinen zu helfen den Überblick über bereits getanzten Turniere und die Erfolge über des Jahr übersichtlich darzustellen. Im Falle von Fehlern oder Wünschen, meldet sie <%= mail_to "daniel.maximilian@gmx.net", "mir", :subject => "Fehler in der TurnierApp" %> mir.
    </p>
  </div>
  <div class="span4 offset2">
    <h2>Benutzung</h2>
    <p>
      Ein Account wird pro Paar angelegt, der Name sollte am besten beide Partner beinhalten. Nach dem erstellen des Accounts sollte am besten mindestens ein Verein hinzugefügt werden, dies geschieht auf der bearbeiten Seite. Danach (okay, zugegeben, davor auch) können Sie Turniere anlegen und Turniere ihrer Vereinsmitglieder und anderen ansehen. Viel Spaß mit der App!
    </p>
  </div>
  <div class="span4 offset2">
    <h2>Datenschutz</h2>
    <p>
      Alle Daten die Sie hier online stellen sind für angemeldete Nutzer einsehbar, nicht nur für Sie.
    </p>
  </div>

</div>