<div class="row-fluid">
  <div class="span3 offset1">
    <h2>Benutzung</h2>
    <p>
      Pro Paar wird ein Account angelegt, der Name sollte am besten beide Partner beinhalten. Zudem sollte ein Verein hinzugefügt werden (auf der 'bearbeiten' Seite), dazu ist die App schließlich da. Unter 'Turnier hinzufügen' kann man ein Turnierergebnis hinzufügen, dazu muss natürlich die korrekte Turniernummer angegeben werden. Viel Spaß mit der App!
    </p>
  </div>
  <div class="span3 offset1">
    <h2>TurnierApp? Was soll das?</h2>
    <p>
      Diese App wurde gebaut um Turniertänzern und Vereinen dabei zu helfen, den Überblick über bereits getanzte Turniere und die Erfolge über das Jahr übersichtlich darzustellen. Im Falle von Fehlern oder Wünschen melde dich bitte bei <u><%= mail_to "daniel.maximilian@gmx.net", "mir", :subject => "Fehler/Anmerkungen bei der TurnierApp" %></u>.
    </p>
  </div>
  <div class="span3 offset1">
    <h2>Datenschutz</h2>
    <p>
      Alle Daten, die du hier online stellst, sind für jeden einsehbar, nicht nur für dich.
    </p>
  </div>
</div>