/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require_tree ./unify
 *= require_tree .
 */


//include icons

@import "icons/*.png"
@include all-icons-sprites
@import "compass"

$highlight-green: #76B834

.full-height
  height: 100%

.icons-ok
  background-repeat: no-repeat
  height: 18px
  width: 22px

.icons-not_enrolled
  background-repeat: no-repeat
  height: 20px
  width: 18px

.icons-missing_information
  background-repeat: no-repeat
  height: 17px
  width: 18px

p
  margin-top: 20px
  font-size:  125%
  line-height: 30px

.content
  margin-top: 30px
  margin-bottom: 80px
a
  &:hover
    background-color: transparent !important
    background: transparent !important
    color: black !important
  &:focus
    color: black !important
    text-decoration: none !important

.bar-graph
  float: left

footer
  background-color: white
  border-top: solid 1px black
  padding-right: 30px
  overflow:hidden
  padding-top: 20px
  text-decoration: none
  a
    float: right
    &:hover
      text-decoration: none
      background-color: transparent
    &:visited
      color: white
  form
    float: left

.hidden
  display: none

.high
  margin-top: 0px !important

table
  #status
    div
      margin: 10px 0 0 10px
a:hover
  text-decoration: none !important

.logo-image-wide
  @include background(image-url('logo_wide.png'))
  display: block
  height: 51px
  width: 139px

.no-border-and-box
  border: none !important
  box-shadow: none !important
  -moz-box-shadow: none !important
  -webkit-box-shadow: none !important

.highlight-side-shining
  background-color: #ffffff
  @include filter-gradient(#ffffff, #ffffff, horizontal)
  @include background-image(linear-gradient(left,  #ffffff 0%,#76B834 15%,#76B834 85%,#ffffff 100%))


.logo-container
  float: left
  height: 47px
  margin-left: -29px
  width: 200px

.header
  height: 48px

.desc
  h4
    word-wrap: break-word

.trainer
  color: $highlight-green

.page
  border: 1px solid #C4C4C4
  box-shadow: 5px 5px 2px #888
  margin-bottom: 25px
  padding: 10px

//Overwrite icons of Bootstrap (because new ones used)
.no-bootstrap-icon
  background-image: none !important