/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body
	p
		margin-top: 20px
		font-size:  125%
		line-height: 30px
	.content
		margin-top: 80px
		margin-bottom: 80px

	footer
		background-color: white
		border-top: solid 1px black
		padding-right: 30px
		overflow:hidden
		padding-top: 20px
		text-decoration: none
		a
			float: right
			&:hover
				text-decoration: none
				background-color: transparent
			&:visited
				color: white
		form
			float: left

.high
	margin-top: 0px !important

table
	td#status
		background-image: image-url("ok.png")
		background-repeat: no-repeat
		background-position: 0px 11px
		&.missing_information
			background-image: image-url("missing_information.png")
		&.not_enrolled
			background-image: image-url("not_enrolled.png")