#header h1 {
  font-size: 165%;
  text-align: center; }

#content {
  margin-left: 5%;
  width: 90%; }

.outerbordered {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd; }


.with-top-border {
  border-top: 1px solid #dddddd;
}

.table-spacing td, .table-spacing tr {
  text-align: center;
  width: 100px;
}