<p>Hallo <%= @resource.name %>!</p>

<p>Jemand hat ein neues Passwort für dich angefordert, falls du das nicht warst ignoriere diese E-Mail, ansonsten</p>

<p><%= link_to 'Ändere mein Passwort', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Vielen Dank, dass du die TurnierApp benutzt</p>
