%p
  Hallo #{@resource.name}!
%p Jemand hat ein neues Passwort fuer dich angefordert, falls du das nicht warst ignoriere diese E-Mail, ansonsten
%p= link_to 'Ändere mein Passwort', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Vielen Dank, dass du die TurnierApp benutzt
